* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


/* Configurações Gerais */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000000; /* Fundo escuro da página */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  background: linear-gradient(to right, #1f1919, #802a2a);
  color: #fff;
}

/* Estilo da Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  letter-spacing: 1px;
}

.logo .icon {
  background: transparent;
  padding: 3px 6px;
  border-radius: 10px;
}

/* Links de Navegação */
.nav-links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
  margin-left: 10%;
  margin-top: 15px;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #000000;
}

/* Estilo do item 'Sobre nós' com fundo destacado */
.nav-links a.active {
  background: #000000;
  color: #fff;
  padding: 8px 18px;
  border-radius: 10px;
}

/* Botões da Direita */
.auth-buttons {
  display: flex;
 margin-left: auto;
  gap: 15px;
}

.btn-login {
  text-decoration: none;
  color: #fff;
  border: 1px solid #2a2a2a;
  padding: 8px 22px;
  border-radius: 10px;
  font-size: 14px;
  background: transparent;
}

.btn-login:hover {
  background: #141414;
}

.btn-signup {
  text-decoration: none;
  color: #fff;
  border: 1px solid #2a2a2a;
  padding: 8px 22px;
  border-radius: 10px;
  font-size: 14px;
  background: transparent;
}

.btn-signup:hover {
  background-color: #141414;
}

.nav-links {
  gap: 40px;
}

.about{
    padding-top:80px;
    padding-bottom: 40px;
    background-color:#000000
}

.about-header{
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}

.subtitle{
    color: #fc5757;
    margin-left: 75px;
}

.title{
    color: #ffffff;
    font-size: 55px;
    padding: 10px;
    justify-content: center;
    margin-left: 65px;
}

.divider {
  border: 1px solid #fc5757;
  margin-left: 75px;
  margin-right: 85%;
  min-width: 85px;
  max-width: 85px;
}

.content{
color: #ffffff;
max-width: 650px;
margin-left: 77px;
margin-top: 35px;
line-height: 1,2;
}

.arena{
    padding: 50px 20px;
    background-color: #ff808038;
}

.arena-grid{
  max-width: 1300px;
  padding: 1%;
  margin: 2%;
  gap: 180px;
  display: flex;
  align-items:flex-start;
  flex-wrap: wrap;
    }

    .arena-card{
        border-radius: 15px;
  padding: 30px 20px;
  width: 230px;
  transition: 0.3s;
  text-align: center;
  margin-top: 3%;
    }

    .arena-description{
      font-size: 17px;
      font-weight: 100;
      line-height: 2;
        max-width: 540px;
        color: #ffffff;
    }

    ;.arena-description h2{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: larger;
      font-weight: 900;
    }

.p1{
  line-height: 1.5;
  margin-top: 15px;
  text-align: justify;
}

.p2{
  line-height: 1.5;
  margin-top: 15px;
  text-align: justify;
}

.p3{
  line-height: 1.5;
  margin-top: 15px;
  text-align: justify;
}
    

.timeline {
  flex: 1;
  min-width: 300px;
  background: #000000;
  padding: 30px;
  border-radius: 15px;
}

.timeline-item {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
  position: relative;
}

/* Linha lateral */
.timeline-item::before {
  content: "";
  position: absolute;
  left: 6px;
  top: 20px;
  width: 2px;
  height: 65%;
  background: #ffffff;
}

/* Bolinha lateral*/
.item {
  width: 12px;
  height: 12px;
  background: #ff5757;
  border-radius: 50%;
  margin-top: 5px;
}

.item-p{
  color: #ff5757;
}

.timeline h4 {
  color: #ffffff;
  margin: 5px 0;
  font-size: 16px;
}

.item-p1{
  color: #ffffff;
  line-height: 1.5;
}

/* Objetivos */

    .objective {
  background-color: #03030338;
  margin: 35px;
  padding: 45px;
  width: 100%;
}

.obj-description{
    color: #ff5757;
    text-align: left;
    letter-spacing: 2px;
}

.obj-title{
    color: #ffffff;
    margin-top: 10px;
    text-align: left;
}

.obj-grid {
  margin-top: 25px;
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 5px;
  max-width: 1400px;
  width: 100%;
}

.obj-card {
  background-color: #2c0a0a;
  padding: 25px;
  border: 1px solid #111111;
  max-height: 800px;
}

.number-tag {
  background-color: rgba(255, 97, 97, 0.356);
  color: #ffffff;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 700;
}

.obj-tag{
    padding: 10px;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.obj1{
    padding: 10px;
    margin-top: 15px;
    margin-left: 50px;
}

/* Section DEVS */

.who-subtitle{
  color: #ff5757;
  margin-left: 50px;
  letter-spacing: 2px;
  line-height: 2;
}

.who-title{
  color: #ffffff;
  margin-left: 50px;
}

.who-description{
  color: #ffffff;
  margin-left: 50px;
  line-height: 2.5;
}

.devs{
  background-color:#ff808038;
  padding: 80px 20px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #000000;
  border-radius: 15px;
  padding: 30px 20px;
  width: 230px;
  transition: 0.3s;
  text-align: center;
  margin-top: 3%;
}

.avatar {
  width: 50px;
  height: 50px;
  margin: 0 auto 15px;
  border-radius: 25px;
  border: 2px solid #2c1010;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff5757;
  font-weight: bold;
}

.card h3 {
  font-size: 16px;
  margin-bottom: 5px;
  color: #ffffff;
}

.card h3:hover{
  color:#e6a6a6;
}

.card span {
  font-size: 12px;
  color: #ffd8d8;
}

    /* FOOTER */
.footer {
    background-color: #00000038;
    padding: 80px 80px 50px 80px;
    border-top: 1px solid #141414;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.logo-footer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.brand-name{
    color: #ffffff;
}

.copyright {
    color: #a3a3a3;
    font-size: 12px;
    margin-bottom: 15px;
}

.footer-desc {
    color: #a3a3a3;
    font-size: 14px;
    margin-bottom: 25px;
    line-height: 1.4;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-box {
    width: 35px;
    height: 35px;
    border: 1px solid #000000;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.social-box:hover {
    border-color: #ffaa00;
    background-color: #111;
}

.footer-columns {
    display: flex;
    gap: 80px;
}

.footer-col h4 {
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.footer-col a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 12px;
    transition: 0.2s;
}

.footer-col a:hover {
    color: #ffffff;
}

.made-by {
    color: #ffffff;
    font-size: 12px;
    margin-bottom: 15px;
}

/* Responsividade  */
@media (max-width: 900px) {
    .footer-container, .footer-columns {
        flex-direction: column;
        gap: 40px;
    }
    .cta-title { font-size: 48px; }
}

.reveal {
  opacity: 0;
  transform: translateY(60px);
  animation: aparecer linear forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

@keyframes aparecer {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}