* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


/* Configurações Gerais */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000000; /* Fundo escuro da página */
}

.navbar {
  display: flex;
  align-items: center;
  padding: 15px 60px;
  background: linear-gradient(to right, #1f1919, #802a2a);
  color: #fff;
}

/* Estilo da Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  letter-spacing: 1px;
}

.logo .icon {
  background: transparent;
  padding: 3px 6px;
  border-radius: 10px;
}

/* Links de Navegação */
.nav-links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
  margin-left: 10%;
  margin-top: 15px;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #000000;
}

/* Estilo do item 'Torneios' com fundo destacado */
.nav-links a.active {
  background: #000000;
  color: #fff;
  padding: 8px 18px;
  border-radius: 10px;
}

/* Botões da Direita */
.auth-buttons {
  display: flex;
 margin-left: auto;
  gap: 15px;
}

.btn-login {

  text-decoration: none;
  color: #fff;
  border: 1px solid #2a2a2a;
  padding: 8px 22px;
  border-radius: 10px;
  font-size: 14px;
  background: transparent;
}

.btn-login:hover {
  background: #141414;
}

.btn-signup {
  text-decoration: none;
  color: #fff;
  border: 1px solid #2a2a2a;
  padding: 8px 22px;
  border-radius: 10px;
  font-size: 14px;
  background: transparent;
}

.btn-signup:hover {
  background-color: #141414;
}

.nav-links {
  gap: 40px;
}

.tournament{
    padding-top:80px;
    padding-bottom: 40px;
    background-color:#000000
}

.tournament-header{
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}

.subtitle{
    color: #fc5757;
    margin-left: 75px;
}

.title{
    color: #ffffff;
    font-size: 55px;
    padding: 10px;
    justify-content: center;
    margin-left: 65px;
}

.divider {
  border: 1px solid #fc5757;
  margin-left: 75px;
  margin-right: 85%;
  min-width: 85px;
  max-width: 85px;
}

.content{
color: #ffffff;
max-width: 650px;
margin-left: 77px;
margin-top: 35px;
line-height: 1,2;
}

/* Botões */

.buttons {
  gap: 15px;
  margin-bottom: 40px;
  
 }

.btn-all {
 text-decoration: none;
  color: #ffffff;
  border: 1px solid #ff7c7c;
  padding: 8px 22px;
  border-radius: 10px;
  font-size: 14px;
  background: transparent;
}

.btn-all:hover {
  background: #141414;
}


.btn-valorant {
 text-decoration: none;
  color: #ffffff;
  border: 1px solid #ff7c7c;
  padding: 8px 22px;
  border-radius: 10px;
  font-size: 14px;
  background: transparent;
}

.btn-valorant:hover {
  background: #141414;
}

.btn-marvel {
 text-decoration: none;
  color: #ffffff;
  border: 1px solid #ff7c7c;
  padding: 8px 22px;
  border-radius: 10px;
  font-size: 14px;
  background: transparent;
}

.btn-marvel:hover {
  background: #141414;
}

.btn-cod {
 text-decoration: none;
  color: #ffffff;
  border: 1px solid #ff7c7c;
  padding: 8px 22px;
  border-radius: 10px;
  font-size: 14px;
  background: transparent;
}

.btn-cod:hover {
  background: #141414;
}

.btn-cs {
 text-decoration: none;
  color: #ffffff;
  border: 1px solid #ff7c7c;
  padding: 8px 22px;
  border-radius: 10px;
  font-size: 14px;
  background: transparent;
}

.btn-cs:hover {
  background: #141414;
}

.btn-live {
 text-decoration: none;
  color: #ffffff;
  border: 1px solid #ff7c7c;
  padding: 8px 22px;
  border-radius: 10px;
  font-size: 14px;
  background: transparent;
}

.btn-live:hover {
  background: #141414;
}

/* Todos os torneios */

.description{
    line-height: 25px;
    color: #888282;
}

.divider1{
  border: 1px solid #fc5757;
  min-width: 600px;
  max-width: 600px;
  margin-top: 25px;
  justify-content: center;
}

.table{
    color: #9b3f3f;
    line-height: 40px;
    word-spacing: 170px;
    }

.table-esp{
    word-spacing: 145px;
    justify-content: center;
    line-height: 50px;
    font-weight: 700;
}
.alltournaments{
  background-color: #ff808038;
  padding: 40px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
}

.tournaments-grid {
  color: #ffffff;
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1500px;
  width: 100%;
}

.tournament-card {
  background-color: #0e0c0c;
  padding: 25px;
  border-radius: 15px;
  border: 1px solid #111111;
  max-height: 700px;
  height: 100%;
}

.card-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.game-tag {
  background-color: rgba(255, 97, 97, 0.356);
  color: #ffffff;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
}

.live-tag {
  background-color: rgba(30, 60, 40, 0.4);
  color: #4ade80;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 11px;
  border: 1px solid #1e3c28;
}

.tournament-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.players-count {
  color: #fffafa;
  font-size: 13px;
  margin-bottom: 15px;
  margin-top: 75px;
}

.rule{
    padding-top: 35px;
}

/* Barra de Progresso */
.progress-bar {
  width: 100%;
  height: 6px;
  background-color: #414040;
  border-radius: 2px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background-color: #ff5757; /* Cor dourada da barra */
  border-radius: 2px;
}

.btn-signon{
  background: #ff57576c;
  margin-left: 450px;
  color: #000000;
  border: 1px solid #505050;
  padding: 12px;
  border-radius: 10px;
  font-size: 22px;
  text-decoration: none;
}

.btn-signon:hover{
    background: #ff7d7d;
}

.full{
  text-align: center;
  background: #fd3737bb;
  margin-left: 450px;
  color: #000000;
  border: 1px solid #505050;
  padding: 12px;
  border-radius: 20px;
  font-size: 14px;
  text-decoration: none;
}

.invite{
  text-align: center;
  background: #24242434;
  margin-left: 450px;
  color: #ffffff;
  border: 1px solid #ff7777;
  padding: 12px;
  border-radius: 8px;
  font-size: 14px;
  text-decoration: none;
}

.soon{
  background-color: rgba(79, 82, 255, 0.514);
  color: #121352;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 11px;
  border: 1px solid #1e3c28;
}

/* FOOTER */
.footer {
    background-color: #00000038;
    padding: 80px 80px 50px 80px;
    border-top: 1px solid #141414;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.logo-footer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.brand-name{
    color: #ffffff;
}

.copyright {
    color: #a3a3a3;
    font-size: 12px;
    margin-bottom: 15px;
}

.footer-desc {
    color: #a3a3a3;
    font-size: 14px;
    margin-bottom: 25px;
    line-height: 1.4;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-box {
    width: 35px;
    height: 35px;
    border: 1px solid #000000;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.social-box:hover {
    border-color: #ffaa00;
    background-color: #111;
}

.footer-columns {
    display: flex;
    gap: 80px;
}

.footer-col h4 {
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.footer-col a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 12px;
    transition: 0.2s;
}

.footer-col a:hover {
    color: #ffffff;
}

.made-by {
    color: #ffffff;
    font-size: 12px;
    margin-bottom: 15px;
}

/* Responsividade  */
@media (max-width: 900px) {
    .footer-container, .footer-columns {
        flex-direction: column;
        gap: 40px;
    }
    .cta-title { font-size: 48px; }
}


.reveal {
  opacity: 0;
  transform: translateY(60px);
  animation: aparecer linear forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

@keyframes aparecer {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}