* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


/* Configurações Gerais */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000000; /* Fundo escuro da página */
}

.navbar {
  display: flex;
  padding: 15px 60px;
  background: linear-gradient(to right, #1f1919, #802a2a);
  color: #fff;
}

/* Estilo da Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  letter-spacing: 1px;
}

.logo .icon {
  background: transparent;
  padding: 3px 6px;
  border-radius: 10px;
}

/* Links de Navegação */
.nav-links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
  margin-left: 10%;
  margin-top: 15px;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #000000;
}

/* Estilo do item 'Home' com fundo destacado */
.nav-links a.active {
  background: #000000;
  color: #fff;
  padding: 8px 18px;
  border-radius: 10px;
}

/* Botões da Direita */
.auth-buttons {
  display: flex;
margin-left: auto;
}
.nav-links {
  gap: 40px;
}


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.hero {
  background: radial-gradient(circle at 70% 50%, rgba(212, 163, 115, 0.15), transparent 40%),
              linear-gradient(90deg, #0a0a0a 40%, #1a0f0a 100%);
  color: #fff;
  padding: 70px 20px;
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.hero-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items:center;
}

/* Tipografia */
.subtitle {
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero-content h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 80px;
  line-height: 1.0;
  margin: 0 0 20px 0;
  letter-spacing: 1px;
}

.highlight {
  color: #fc5757;
}

.description {
  color: #a0a0a0;
  max-width: 500px;
  line-height: 1.6;
  font-size: 16px;
  margin-bottom: 30px;
}

/* Botões */
.hero-btns {
  display: flex;
  gap: 15px;
  margin-bottom: 40px;
}

.btn-primary {
  background-color: #fc5757;
  color: #000;
  padding: 15px 30px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.btn-secondary {
  border: 1px solid #fc5757;
  color: #fff;
  padding: 15px 30px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 14px;
}

.btn-primary:hover {
    background-color: #fa6161;
    transform: translateY(-3px);
}

.btn-secondary:hover {
    background-color: #1a1a1a;
    transform: translateY(-3px);
}

/* Divisor e Stats */
.divider {
  border: 0;
  border-top: 1px solid #222;
  margin-bottom: 30px;
}

.stats {
  display: flex;
  gap: 40px;
}

.stat-item h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 32px;
  margin: 0;
}

.stat-item p {
  color: #666;
  font-size: 11px;
  letter-spacing: 1px;
  margin-top: 5px;
}

/* Visual do Escudo (Lado Direito) */
.hero-visual {
  display: flex;
  justify-content: center;
}

.circle-animation {
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-animation::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  background: radial-gradient(circle, rgba(206, 45, 45, 0.2), transparent 70%);
  border-radius: 50%;
  z-index: 1;
}

.circle {
  position: absolute;
  border: 1px solid rgba(255, 66, 66, 0.158);
  border-radius: 50%;
}

.c1 { width: 400px; height: 400px; }
.c2 { width: 280px; height: 280px; }
.c3 { width: 180px; height: 180px; }

section {
  background-color: #ff808038;
  padding: 40px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* --- SEÇÃO FEATURES --- */
.features-container {
  display:flex;
  gap: 5px;

}

.feature-card {
  background-color: #0e0c0c; /* Fundo levemente mais claro */
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #0e0c0c;
  transition: 0.3s;
}

.feature-icon {
  background-color: #fc5757;
  color: #000000;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-bottom: 20px;
  border: 1px solid #3d2e20;
}

.feature-card h3 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 12px;
}

.feature-card p {
  color: #888;
  font-size: 14px;
  line-height: 1.5;
}

/* --- SEÇÃO TORNEIOS --- */
.tournaments {
  display: flex;
  flex-wrap: wrap;
}

.tournaments-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}

.section-title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 48px;
  margin: 0;
  letter-spacing: 2px;
  color: #ffffff;
}

.btn-view-all {
  text-decoration: none;
  background-color: #000000;
  color: #fff;
  border: 1px solid #fc5757;
  padding: 15px;
  border-radius: 8px;
  font-size: 14px;
}

.btn-view-all:hover {
  background-color: #1a1a1a;
  color: #fff;
}

/* Grid de Torneios */
.tournaments-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #ffffff;
  gap: 10px;
  width: 80%;
}

.tournament-card {
  display: grid;
  grid-template-columns: auto;
  background-color: #0e0c0c;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid #111111;
}

.card-top {
  display: auto;
  justify-content: space-between;
  margin-bottom: 20px;
}

.game-tag {
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
}

.live-tag {
  display:inline-flex;
  align-items: end;
  background-color: rgba(30, 60, 40, 0.4);
  color: #4ade80;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 11px;
  border: 1px solid #1e3c28;
}

.tournament-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.players-count {
  color: #fffafa;
  font-size: 13px;
  margin-bottom: 15px;
}

/* Barra de Progresso */
.progress-bar {
  width: 100%;
  height: 4px;
  background-color: #414040;
  border-radius: 2px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background-color: #ff5757; /* Cor dourada da barra */
  border-radius: 2px;
}

.cta {
    background-color: #000000;
    padding: 120px 20px;
    text-align: center;
}

.subtitle-yellow {
    color: #fc5757;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px;
}


.cta-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 72px;
    color: #fff;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.cta-text {
    color: #888;
    font-size: 18px;
    margin-bottom: 40px;
    line-height: 1.5;
}

.btn-primary-large {
    background-color: #fc5757;
    color: #000;
    padding: 18px 45px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;
    display: inline-block;
}

.btn-primary-large:hover {
    background-color: #d4a373;
    transform: translateY(-3px);
}

/* FOOTER */
.footer {
    background-color: #000000;
    padding: 80px 80px 50px 80px;
    border-top: 1px solid #141414;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.logo-footer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.copyright {
    color: #a3a3a3;
    font-size: 12px;
    margin-bottom: 15px;
}

.footer-desc {
    color: #a3a3a3;
    font-size: 14px;
    margin-bottom: 25px;
    line-height: 1.4;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-box {
    width: 35px;
    height: 35px;
    border: 1px solid #000000;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.social-box:hover {
    border-color: #ffaa00;
    background-color: #111;
}

.footer-columns {
    display: flex;
    gap: 80px;
}

.footer-col h4 {
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.footer-col a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 12px;
    transition: 0.2s;
}

.footer-col a:hover {
    color: #ffffff;
}

.made-by {
    color: #ffffff;
    font-size: 12px;
    margin-bottom: 15px;
}

/* Responsividade  */
@media (max-width: 1024px) {
    .footer-container, .footer-columns {
        flex-direction: column;
        gap: 40px;
    }
    .cta-title { font-size: 48px; }
}

@media (max-width: 860px) {
    .contact-grid { grid-template-columns: 1fr; }
    .contact-info-card { position: static; }
    .form-row { grid-template-columns: 1fr; }
}

.reveal {
  opacity: 0;
  transform: translateY(60px);
  animation: aparecer linear forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

@keyframes aparecer {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}